<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Web-Components/Desafio-01/styles/card.css">
    <script src="/Components/src/components/cardNews.js" defer ></script>
    <title>Darth vader contrata</title>
</head>
<body>

    <card-news 
        autor="Rodrigo Souza"
        title="Darth vader contrata"
        photo = "assets/darth-vader.jpg"
        content="Darth vader procura devesenvolvedores que saibam mexer com components"
        link-url="#"
    ></card-news>
   
    <card-news 
        autor=""
        title="Fim de Star Wars?"
        photo = ""
        content="Star Wars pode estar chegando ao fim, entenda..."
        link-url="#"
    ></card-news>
    
    <card-news 
        autor=""
        title="Fim de Star Wars?"
        photo = ""
        content="Star Wars pode estar chegando ao fim, entenda..."
        link-url="#"
    ></card-news>


    
</body>
</html>